Full name: ___________________
SEAS login: _________

Description of features implemented:
  Hello world

Extra credits claimed:
  None

List of source files included (consider using `find src | grep java`)
  src/edu/upenn/cis/cis555/hw0/Main.java

Outside sources used:
  None

Special instructions for building or running:
  None
